<div class="swiper-counter">{{index+1}} / {{images.length}}</div>
<div 
	class="swiper-wrapper" 
	pinch 
	[isLast]="isLast" 
	[isFirst]="isFirst" 
	(events)="handlePinchEvents($event)"
	#wrapper>
	<div class="swiper-image-wrap swiper-prev-image">
		<img 
			*ngIf="prevImagePath"
			[src]="prevImagePath" />
	</div>

	<div class="swiper-image-wrap swiper-curr-image">
		<img
			*ngIf="currImagePath"
			[src]="currImagePath" />
	</div>
	
	<div class="swiper-image-wrap swiper-next-image">
		<img 
			*ngIf="nextImagePath"
			[src]="nextImagePath" />
	</div>
</div>